<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {{url_for("static",filename="css/bootstrap.min.css")}} " >
    <link rel="stylesheet" href=" {{url_for("static",filename="css/style.css")}}" >

    <title>User dashboard</title>
  </head>
  <body style="background-color:white;">
    <header>
            <div class ="container" style="margin-bottom:30px;">
              <div class ="row">
                  <div class=col-12>
                    <nav class="navbar  navbar-inverse navbar-light text" style="background-color : #F7B2A5;" >
                      <a class="navbar-brand " href="#">
                      <img src="static/images/logo.png" width="30" height="30" class="d-inline-block align-top " alt="">
                      Yummy recipes
                      </a>
                      <a  class="nav-item nav-link text" href="{{ url_for("category") }}"> Category</a>
                      <a  class="nav-item nav-link text" href="#"> Log out</a>
                    </nav> 
                  </div>      
              </div>  
            </div>  
          </header>

          <div class ="container">
                <div class ="row">
                    <div class=col-12>
                        <div class="jumbotron" style="background-color:#A6F4DC;">

                               <div class="container items">
                                <div class="float-right mb-5">
                                    <div class="row">
                                        <div class="col">
                                            <button class=" btn btn-info" type="submit" data-toggle="modal" data-target="#myModal">Add Items
                                            </button>
                                        </div><!-- col-->
                                    </div><!-- btn group-->
                                </div>

                                <!--flash message-->
                            {% for message in get_flashed_messages() %}
                            <div class="alert alert-success alert-dismissable offset-3 col-6">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    {{ message }}
                            </div><!--end of flash message-->
                            {% endfor %}

                             <!--error -->
                            {% if error %}
                            <div class="d-flex justify-content-center alert alert-danger alert-dismissable offset-3 col-6">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <p class="error">{{ error }}</p>
                            </div>
                            {% endif %}
                            <!--end of error-->

                            <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
    
                            <!-- Modal content-->
                        <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">New Item</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                            <!-- modal body-->
                        <div class="modal-body">
                            <form class="form-horizontal" action="{{ url_for('add_item', recipe_id=shop_recipe.recipe_id) }}"method="post">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="item">Item</label>
                                            <div class="col">
                                                <input type="text" class="form-control" id="item" name="title" required>
                                            </div>
                                        </div>
                        
                        <div class="form-group">
                                <label class="control-label col-sm-2" for="price">Price</label>
                                <div class="col">
                                    <input type="text" class="form-control" id="price" name="price" required>
                                </div>
                            </div>


                            <div class="form-group">
                                    <label class="control-label col-sm-6" for="status">Select status:</label>
                                    <div class="col">
                                        <select class="form-control" id="status" name="status" required>
                                            <option></option>
                                            <option>Not Done</option>
                                            <option>Done</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success" value="Save">
                        </div>
                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Table displaying recipe items-->
                            {% if shop_recipe.recipe_items %}
                            <table class="table table-hover">

                                <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th colspan="2" class="text-center">Action</th>

                                </tr>
                                </thead>

                                <tbody>
                                {% for key, item in shop_recipe.recipe_items.items() %}
                                    {% if item.status == 'Done' %}
                                        <tr>

                                            <td>
                                                <del>{{ item.title }}</del>
                                            </td>
                                            <td>
                                                <del>{{ item.quantity }}</del>
                                            </td>
                                            <td>
                                                <del>{{ item.price }}</del>
                                            </td>
                                            <td>{{ item.status }}</td>
                                            <td class="text-right"><a
                                                    href="{{ url_for('edit_item', recipe_id = shop_recipe.recipe_id, item_id = item.item_id) }}"
                                                    class=" btn btn-link">EDIT</a></td>
                                            <td class="text-right"><a
                                                    href="{{ url_for('delete_item',recipe_id = shop_recipe.recipe_id, item_id = item.item_id) }}"
                                                    class="btn btn-link">DELETE</a>
                                            </td>

                                            {% else %}
                                            <td>{{ item.title }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            <td>{{ item.status }}</td>
                                            <td class="text-right"><a
                                                    href="{{ url_for('edit_item', recipe_id = shop_recipe.recipe_id, item_id = item.item_id) }}"
                                                    class=" btn btn-link">EDIT</a></td>
                                            <td class="text-right"><a
                                                    href="{{ url_for('delete_item',recipe_id = shop_recipe.recipe_id, item_id = item.item_id) }}"
                                                    class="btn btn-link">DELETE</a>
                                            </td>

                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>

                        {% else %}

                            <!-- Page contents -->

                            <h1 class="text-center d-flex align-item-center justify-content-center">There are no items
                                in {{ shop_recipe.title }} </h1>

                        {% endif %}
                    </div><!-- container-->


                           









                                </div>
                            </div>
                        </div>
                       </div>
                            



  <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>                           