<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for("static",filename="css/bootstrap.min.css")}}" >
    <link rel="stylesheet" href="{{ url_for("static",filename="css/style.css")}}">

    <title>Login Page</title>
  </head>
  <body style="background-color:white;">
    <header>
            <div class ="container" style="margin-bottom:30px;">
              <div class ="row">
                  <div class=col-12>
                    <nav class="navbar  navbar-inverse navbar-light text" style="background-color : #F7B2A5;" >
                      <a class="navbar-brand  " href="#">
                      <img src="static/images/logo.png" width="30" height="30" class="d-inline-block align-top " alt="">
                      Yummy Recipes
                      </a>                    
                      <a  class="nav-item nav-link text" href="/register"> Register</a>
                    </nav> 
                  </div>      
              </div>  
            </div>  
          </header>       
            <div class ="container">
                <div class ="row">
                    <div class=col-12>
                      <div class="jumbotron " style="background-color:#A6F4DC;">
                          <h1 class="display-5 align">Welcome To Yummy Recipes</h1>
                          <hr class="my-4">
                          <p class="align">An easy application to create,update, view and even share recipes  with friends.Register today to enjoy the experience!</p>
                          <hr class="my-4">

                          <div class="container center">
                          <div class=col-12 >
                            <!--Flash div-->
                            <div class =container -fluid style >
                              {% with messages = get_flashed_messages() %}
                              {% if messages %}
                                
                                {% for message in messages %}

                                <div class="alert alert-warning alert dismissible" role="alert">
                                  {{ message }}
                                </div>

                                {% endfor %}
                              {% endif %}
                            {% endwith %}
                          </div>
                            <!-- End Flash div-->
                          <form  action ="{{ url_for("login") }}" method="POST">
                              <div class="form-group row"style="align:center;">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                  <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                  <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                  <button type="submit" class="btn btn-info">Sign in</button>
                                </div>
                              </div>
                            </form>
                            </div>
                          </div>
                        </div>
     
                </div>
              </div>
            </div>
   
  













    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>