<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {{url_for("static",filename="css/bootstrap.min.css")}} " >
    <link rel="stylesheet" href=" {{url_for("static",filename="css/style.css")}}" >

    <title>User dashboard</title>
  </head>
  <body style="background-color:white;">
    <header>
            <div class ="container" style="margin-bottom:30px;">
              <div class ="row">
                  <div class=col-12>
                    <nav class="navbar  navbar-inverse navbar-light text" style="background-color : #F7B2A5;" >
                      <a class="navbar-brand " href="#">
                      <img src="static/images/logo.png" width="30" height="30" class="d-inline-block align-top " alt="">
                      Yummy recipes
                      </a>
                      <a  class="nav-item nav-link text" href="{{ url_for("category") }}"> Category</a>
                      <a  class="nav-item nav-link text" href="{{ url_for("logout") }}"> Log out</a>
                    </nav> 
                  </div>      
              </div>  
            </div>  
          </header>
          
          
          
<div class ="container">
    <div class ="row">
        <div class=col-12>
            <div class="jumbotron" style="background-color:#A6F4DC;">
                <div class="container items" >
                    <div class="container">
                        <div class="row">
                            <div class="  col  ">
                                <div class="card  items d-flex align-content-end text-center">
                                <div>
                                    <h2 class="text-welcome">Hi {{ user.username }}</h2>
                                </div>
                                <section class="mt-5">
                                    <h5>You have {{ recipes }} Recipes</h5>
                                        <p>To create new recipe </p>
                                        <a href="/create/recipe">
                                        <button type="button" class="btn btn-warning">Click Here</button>
                                        </a>
                                </section>
                                </div>
                                    
                            </div>
                        </div>
                                    
                    </div>
<!--flash message-->
                                    
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissable offset-4 col-4">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Success!</strong> {{ message }}
</div><!--end of flash message-->
{% endfor %}                               
                               
                </div>
            </div>
     
        </div>
    </div>
</div>
   
  













    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>