<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {{url_for("static",filename="css/bootstrap.min.css")}} " >
    <link rel="stylesheet" href=" {{url_for("static",filename="css/style.css")}}" >

    <title>User dashboard</title>
  </head>
  <body style="background-color:white;">
    <header>
            <div class ="container" style="margin-bottom:30px;">
              <div class ="row">
                  <div class=col-12>
                    <nav class="navbar  navbar-inverse navbar-light text" style="background-color : #F7B2A5;" >
                      <a class="navbar-brand " href="#">
                      <img src="static/images/logo.png" width="30" height="30" class="d-inline-block align-top " alt="">
                      Yummy recipes
                      </a>
                      <a  class="nav-item nav-link text" href="{{ url_for("category") }}"> Category</a>
                      <a  class="nav-item nav-link text" href="{{ url_for("logout") }}"> Log out</a>
                    </nav> 
                  </div>      
              </div>  
            </div>  
          </header>
          
          
          
<div class ="container">
    <div class ="row">
        <div class=col-12>
            <div class="jumbotron" style="background-color:#A6F4DC;">
   <!-- Delete a recipe -->
   <div class="container">
        <div class="row">
            <!--flash message-->
            {% for message in get_flashed_messages() %}
                <div class="alert alert-success alert-dismissable offset-2">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    {{ message }}
                </div><!--end of flash message-->
            {% endfor %}

            <!--error -->
            {% if error %}
                <div class="d-flex justify-content-center alert alert-danger alert-dismissable offset-3 col-6">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <p class="error">{{ error }}</p>
                </div>
            {% endif %}
            <!--end of error-->
            <form class="col" action="{{ url_for("delete_recipe", recipe_id = recipe_step.recipe_id) }}" method="post">
                <div class="container new_recipe_background card col-6">
                    <h2 class="text-capitalize card-title mt-1">Delete</h2>
                    <div class="row">
                        <div class="col">
                            <div class="btn-group mb-5">
                                <div>
                                    <p>Are you sure you want to delete this recipe? This cant be undone!</p>
                                    <button class="btn btn-danger  active" type="submit">Delete recipe</button>
                                    <a href="{{ url_for("category") }}" class="btn btn-secondary ">Cancel</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
                            </div>
                        </div>
                    </div>
    
                </div>







    </div>
    
        </div>
    </div>
</div>
    
  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>